<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/bootstrap/css/signup.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<section class="h-100 h-custom gradient-custom-2">
  <div class="container">
    <div class="c1">

      <div class="c11">
        <h1 class="mainhead">PICK YOUR SPOT</h1>
        <p class="mainp">Just click the buttons below to toggle between SignIn & SignUp</p>
      </div>
      <div id="left"><h1 class="s1class"><span>SIGN</span><span class="su">IN</span>
      </h1></div>
      <div id="right"><h1 class="s2class"><span>SIGN</span><span class="su">UP</span></h1></div>
    </div>

    <div class="c2">

      <form class="signup">
        <h1 class="signup1">회원가입</h1>
        <br>
        <input name="userName" type="text" placeholder="이름*" class="username"/>
        <input name="userNickname" type="text" placeholder="닉네임*" class="username"/>
        <input name="password" type="password" placeholder="비밀번호*" class="username"/>
        <input name="passwordConfirm" type="password" placeholder="비밀번호 재확인*" class="username"/>


        <select class="username" >
          <option value="1" disabled>성별</option>
          <option value="2">여자</option>
          <option value="3">남자</option>
        </select>


        <input name="userEmail" type="text" placeholder="이메일*" class="username"/>

        <input class="form-control form-control-lg" id="formFileLg" type="file" />
        <div class="small text-muted mt-2">Upload your CV/Resume or any other relevant file. Max file
          size 50 MB</div>

        <button class="btn">Sign Up</button>

      </form>

      <form class="signin">

        <h1 class="signup1">SIGN IN</h1>
        <br><br><br><br>
        <input name="username" type="text" placeholder="Username*" class="username"/>

        <input name="password" type="password" placeholder="Password*" class="username"/>

        <button class="btn">Get Started</button>

        <br><br><br><br>
        <a href=""><p class="signup2">Forget Password?</p></a>
      </form>

    </div>
  </div>
</section>
<script src="/static/bootstrap/js/signup.js"></script>
</body>
</html>